
.list-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    justify-content: flex-start;

    
    @media (max-width: 730px) { 
        grid-template-columns: repeat(2, 1fr);
    }


    @media (max-width: 430px) { 
        grid-template-columns: 1fr;
    }
}
