<div class="character-card">
    <span class="like-button" [class.liked]="isFavorited" (click)="toggleFavorite(character!.id)">
        <img [src]="isFavorited ? '/assets/img/icons/heart.svg' : '/assets/img/icons/heart-unlike.svg'" alt="Heart">
    </span>
    <img [src]="character?.image" alt="" class="cover" data-testid="imageCoverCharacter">
    <div class="container-info">
        <h3 data-testid="nameCharacter">{{character?.name}}</h3>
        <h4 data-testid="specieCharacter">{{character?.species}}</h4>
    </div>
</div>