<nav>
    <ul>
        <li [class.active]="isActiveRoute('/characters')" [routerLink]="['/characters']">
            <img [src]="isActiveRoute('/characters') ? '/assets/img/icons/home.svg' : '/assets/img/icons/home-inactive.svg'" alt="Home">
            <span i18n="@@homeNavBar" class="label">Início</span>
        </li>
        <li [routerLink]="['/characters/favorites']" [class.active]="isActiveRoute('/characters/favorites')">
            <img [src]="isActiveRoute('/characters/favorites') ? '/assets/img/icons/heart.svg' : '/assets/img/icons/heart-inactive.svg'" alt="Heart">
            <span i18n="@@favoritesNavBar" class="label">Favoritos</span>
            <span class="bagde">{{countFavorites}}</span>
        </li>
    </ul>
</nav>