:root {
    
    // Gray scale
    --gray-bg: #1F1F1F;
    --gray-light-1: #FAFAFA; 
    --gray-1: #A4A4A4; 
    --gray-2: #3D3D3D;
    --gray-3: #5D5D5D;
    --black: #0A0A0A;
    --white: #FFFFFF;

    // Brand Colors
    --brand-blue: #00B5CC;
    --brand-green: #B2DF28;

    --danger: #df2828;

} 